.black {
color:black;
}
.gold {
color:gold;
}
.white {
color:white;
}
.green {
color:green;
}
.lgreen {
color:lightgreen;
}
.dgreen {
color:darkgreen;
}
.blue {
color:blue;
}
.lblue {
color:lightblue;
}
.dblue {
color:navy;
}
.lime {
color:lime;
}
.silver {
color:silver;
}
.gray {
color:gray;
}
.brown {
color:brown;
}
.yellow {
color:yellow;
}
.gold {
color:gold;
}
.orange {
color:orange;
}
.red {
color: red;
}
.b-black {
background-color:black;
}
.b-gold {
background-color:gold;
}
.b-white {
background-color:white;
}
.b-green {
background-color:green;
}
.b-lgreen {
background-color:lightgreen;
}
.b-dgreen {
background-color:darkgreen;
}
.b-blue {
background-color:blue;
}
.b-lblue {
background-color:lightblue;
}
.b-dblue {
background-color:navy;
}
.b-lime {
background-color:lime;
}
.b-silver {
background-color:silver;
}
.b-gray {
background-color:gray;
}
.b-brown {
background-color:brown;
}
.b-yellow {
background-color:yellow;
}
.b-gold {
background-color:gold;
}
.b-orange {
background-color:orange;
}
.b-red {
background-color: red;
}
